@media (max-width: 1300px) {
    body {
        padding: 50px 30px 20px;
    }

    .container .texts {
        margin-right: 0px;
    }
}

@media (max-width: 1100px) {
    .container .texts {
        width: 300px;
    }
}

@media (max-width: 900px) {
    body {
        background: url(../images/bg-mobile.svg) top center no-repeat;
        background-color: var(--background-color);
        background-size: 100% 63%;
        height: 100%;
        padding-bottom: 0;
    }

    .header .logo {
        width: 120px;
    }

    .container {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        gap: 20px;
    }

    .container .main-image {
        width: 90%;
        flex: 0;
    }

    .container .texts {
        margin-top: 0;
        text-align: center;
        align-items: center;
        width: 350px;
        flex: 0;
    }

    .container .texts .title {
        font-size: 20px;
    }

    .container .texts .description {
        font-size: 14px;
        line-height: 20px;
    }

    .icon-list {
        justify-content: center;
        height: 200px;
        align-items: center;
    }

    .icon-list {
        height: 80px;
    }
}

@media (max-width: 400px) {
    .container .texts {
        width: 280px;
    }
}